# Conditional Bloc

Create a list of tuple which contains numbers from 1 to 31 and the string 'January'.

Expected result : [(1, 'January'), (2, 'January').. (31, 'January')]

##### Créez une liste de tuples contenant des nombres de 1 à 31 et la chaîne de caractères 'January'.

In [5]:
# Créer une liste de tuples pour 'January'
liste_janvier = [(nombre, 'January') for nombre in range(1, 32)]

# Afficher la liste résultante
print(liste_janvier)

[(1, 'January'), (2, 'January'), (3, 'January'), (4, 'January'), (5, 'January'), (6, 'January'), (7, 'January'), (8, 'January'), (9, 'January'), (10, 'January'), (11, 'January'), (12, 'January'), (13, 'January'), (14, 'January'), (15, 'January'), (16, 'January'), (17, 'January'), (18, 'January'), (19, 'January'), (20, 'January'), (21, 'January'), (22, 'January'), (23, 'January'), (24, 'January'), (25, 'January'), (26, 'January'), (27, 'January'), (28, 'January'), (29, 'January'), (30, 'January'), (31, 'January')]

Create a list of tuple which contains numbers from 1 to 31 and the string 'February'.

Expected result : [(1, 'February'), (2, 'February').. (31, 'February')]

##### Créez une liste de tuples contenant des nombres de 1 à 31 et la chaîne de caractères 'February'.

In [2]:
# Initialiser une liste de tuples en utilisant une liste de compréhension
liste_de_tuples = [(nombre, 'February') for nombre in range(1, 32) if nombre <= 31]

# Afficher la liste résultante
print(liste_de_tuples)

[(1, 'February'), (2, 'February'), (3, 'February'), (4, 'February'), (5, 'February'), (6, 'February'), (7, 'February'), (8, 'February'), (9, 'February'), (10, 'February'), (11, 'February'), (12, 'February'), (13, 'February'), (14, 'February'), (15, 'February'), (16, 'February'), (17, 'February'), (18, 'February'), (19, 'February'), (20, 'February'), (21, 'February'), (22, 'February'), (23, 'February'), (24, 'February'), (25, 'February'), (26, 'February'), (27, 'February'), (28, 'February'), (29, 'February'), (30, 'February'), (31, 'February')]

Concatenate the two previous list into one.

Expected result : [(1, 'January'), (2, 'January').. (31, 'February')]

In [12]:
# Créer une liste de tuples pour 'January'
liste_janvier = [(nombre, 'January') for nombre in range(1, 32) if nombre <= 31]

# Créer une liste de tuples pour 'February'
liste_fevrier = [(nombre, 'February') for nombre in range(1, 32) if nombre <= 31]

# Concaténer les deux listes
liste_concatenee = liste_janvier + liste_fevrier

# Afficher la liste résultante
print(liste_concatenee)

[(1, 'January'), (2, 'January'), (3, 'January'), (4, 'January'), (5, 'January'), (6, 'January'), (7, 'January'), (8, 'January'), (9, 'January'), (10, 'January'), (11, 'January'), (12, 'January'), (13, 'January'), (14, 'January'), (15, 'January'), (16, 'January'), (17, 'January'), (18, 'January'), (19, 'January'), (20, 'January'), (21, 'January'), (22, 'January'), (23, 'January'), (24, 'January'), (25, 'January'), (26, 'January'), (27, 'January'), (28, 'January'), (29, 'January'), (30, 'January'), (31, 'January'), (1, 'February'), (2, 'February'), (3, 'February'), (4, 'February'), (5, 'February'), (6, 'February'), (7, 'February'), (8, 'February'), (9, 'February'), (10, 'February'), (11, 'February'), (12, 'February'), (13, 'February'), (14, 'February'), (15, 'February'), (16, 'February'), (17, 'February'), (18, 'February'), (19, 'February'), (20, 'February'), (21, 'February'), (22, 'February'), (23, 'February'), (24, 'February'), (25, 'February'), (26, 'February'), (27, 'February'), (28, 'February'), (29, 'February'), (30, 'February'), (31, 'February')]

Check if the value (1, 'March') is in the concatenate list.

If yes, then print "The 1 March exist". Otherwise, print "The 1 March does not exist"

##### Vérifiez si la valeur (1, 'March') est présente dans la liste concaténée.

##### Si oui, affichez "Le 1er mars existe". Sinon, affichez "Le 1er mars n'existe pas".

In [10]:
# Afficher la liste résultante
print(liste_concatenee)

# Vérifier si la valeur (1, 'March') est présente dans la liste concaténée
if (1, 'March') in liste_concatenee:
    print("Le 1er mars existe.")
else:
    print("Le 1er mars n'existe pas.")

[(1, 'January'), (2, 'January'), (3, 'January'), (4, 'January'), (5, 'January'), (6, 'January'), (7, 'January'), (8, 'January'), (9, 'January'), (10, 'January'), (11, 'January'), (12, 'January'), (13, 'January'), (14, 'January'), (15, 'January'), (16, 'January'), (17, 'January'), (18, 'January'), (19, 'January'), (20, 'January'), (21, 'January'), (22, 'January'), (23, 'January'), (24, 'January'), (25, 'January'), (26, 'January'), (27, 'January'), (28, 'January'), (29, 'January'), (30, 'January'), (31, 'January'), (1, 'February'), (2, 'February'), (3, 'February'), (4, 'February'), (5, 'February'), (6, 'February'), (7, 'February'), (8, 'February'), (9, 'February'), (10, 'February'), (11, 'February'), (12, 'February'), (13, 'February'), (14, 'February'), (15, 'February'), (16, 'February'), (17, 'February'), (18, 'February'), (19, 'February'), (20, 'February'), (21, 'February'), (22, 'February'), (23, 'February'), (24, 'February'), (25, 'February'), (26, 'February'), (27, 'February'), (28, 'February'), (29, 'February'), (30, 'February'), (31, 'February')]
Le 1er mars n'existe pas.

In the concatenated list, print every tuple which are equal or below 28 and contains the string 'February'.

##### Dans la liste concaténée, imprimez chaque tuple qui est égal ou inférieur à 28 et qui contient la chaîne 'February'.

In [ ]:
# Filtrer les tuples de la liste concaténée qui satisfont les conditions
resultats_filtrés = [tup for tup in liste_concatenee if tup[0] <= 28 and (tup[1] == 'January' or tup[1] == 'February')]

# Afficher les résultats filtrés
for resultat in resultats_filtrés:
    print(resultat)

In the concatenated list, delete every date which are above 28.

##### Dans la liste concaténée, supprimez chaque date qui est supérieure à 28.

In [16]:
# Filtrer les tuples de la liste concaténée qui satisfont la condition
liste_filtrée = [tup for tup in liste_concatenee if tup[0] <= 28]

# Afficher la liste résultante
print(liste_filtrée)

[(1, 'January'), (2, 'January'), (3, 'January'), (4, 'January'), (5, 'January'), (6, 'January'), (7, 'January'), (8, 'January'), (9, 'January'), (10, 'January'), (11, 'January'), (12, 'January'), (13, 'January'), (14, 'January'), (15, 'January'), (16, 'January'), (17, 'January'), (18, 'January'), (19, 'January'), (20, 'January'), (21, 'January'), (22, 'January'), (23, 'January'), (24, 'January'), (25, 'January'), (26, 'January'), (27, 'January'), (28, 'January'), (1, 'February'), (2, 'February'), (3, 'February'), (4, 'February'), (5, 'February'), (6, 'February'), (7, 'February'), (8, 'February'), (9, 'February'), (10, 'February'), (11, 'February'), (12, 'February'), (13, 'February'), (14, 'February'), (15, 'February'), (16, 'February'), (17, 'February'), (18, 'February'), (19, 'February'), (20, 'February'), (21, 'February'), (22, 'February'), (23, 'February'), (24, 'February'), (25, 'February'), (26, 'February'), (27, 'February'), (28, 'February')]